body{
    background-image: linear-gradient(to right, peru, khaki);
    font-family: 'Prompt', sans-serif;
}

.header{
    text-align: center;
}

.header img{
    width: 8rem;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.search{
    border: none;
    border-radius: 0.5rem;
    width: 8rem;
    margin: 2rem;
}

.agregar{
    color: khaki;
    background-color: peru;
    border-radius: 0.5rem;
    cursor: pointer;
    border: none;
}

.movieGrid{
    display: flex;
    flex-wrap: wrap;
}

.movieItem{
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.movieItem p{
    text-align: justify;
    width: 15rem;
}

.poster{
    width: 50%;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.verMas{
    cursor: pointer;
    border: none;
}

.delete{
    color: khaki;
    background-color: peru;
    border-radius: 8px;
    width: 100px;
    padding: 4px;
    cursor: pointer;
    border: none;
}

.footer{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 2rem;
}

.footer p{
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}